body {
  padding: 10px;
  background: #f2f2f2;
}

ul.console {
  list-style-type: none;
  height: calc(100vh - 170px);
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding-left: 0px;
}

ul.console li {
  border-bottom: solid 1px #80808038;
  display: block;
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.serial_container {
  width: 50%;
}
.serial_container hr {
  height: 1px;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
